Repository merchise/xoeuf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check code smells (with Bugbear and Python 3.8), check formatting with black, run all tests, build documentation, publish in our rtd, pages

Path conditions:
  check code smells (with Bugbear and Python 3.8): any of: .gitlab-ci.yml, tests/**/*.py, xoeuf/**/*.py, setup.py, setup.cfg, pyproject.toml
  check formatting with black: any of: .gitlab-ci.yml, tests/**/*.py, xoeuf/**/*.py, setup.py, setup.cfg, pyproject.toml
  run all tests: any of: .gitlab-ci.yml, tests/**/*.py, xoeuf/**/*.py, setup.py, setup.cfg, pyproject.toml
  build documentation: any of: .gitlab-ci.yml, docs/themes/**/*, docs/**/*.py, docs/**/*.rst, tests/**/*.py, xoeuf/**/*.py, setup.py, setup.cfg, pyproject.toml
  publish in our rtd: any of: .gitlab-ci.yml, docs/themes/**/*, docs/**/*.py, docs/**/*.rst, tests/**/*.py, xoeuf/**/*.py, setup.py, setup.cfg, pyproject.toml
  pages: any of: .gitlab-ci.yml, docs/themes/**/*, docs/**/*.py, docs/**/*.rst, tests/**/*.py, xoeuf/**/*.py, setup.py, setup.cfg, pyproject.toml

Add regression tests for inherits in field.Property.
  tests/test_property/models.py
Due: check code smells (with Bugbear and Python 3.8), check formatting with black, run all tests, build documentation, publish in our rtd, pages

Get related instance in field.Property to properly locate the getter.
  xoeuf/fields/properties/__init__.py
Due: check code smells (with Bugbear and Python 3.8), check formatting with black, run all tests, build documentation, publish in our rtd, pages

Add changelog on the fix to fields.Property.
  docs/source/history.rst
Due: build documentation, publish in our rtd, pages

Release 3.0.0
  docs/source/history.rst
Due: build documentation, publish in our rtd, pages

Add regression test for Domain.TRUE and Domain.FALSE.
  tests/test_domain/tests/test_domain.py
Due: check code smells (with Bugbear and Python 3.8), check formatting with black, run all tests, build documentation, publish in our rtd, pages

Fix Domain.TRUE and Domain.FALSE.
  docs/source/history.rst
  xoeuf/osv/expression.py
Due: check code smells (with Bugbear and Python 3.8), check formatting with black, run all tests, build documentation, publish in our rtd, pages

Release 3.1.0
  docs/source/history.rst
Due: build documentation, publish in our rtd, pages

Fix version number: 3.0.1
  docs/source/history.rst
Due: build documentation, publish in our rtd, pages

Run CI pipeline in 'stable-' branches.
  .gitlab-ci.yml
Due: check code smells (with Bugbear and Python 3.8), check formatting with black, run all tests, build documentation, publish in our rtd, pages

Add missing import.
  xoeuf/__init__.py
Due: check code smells (with Bugbear and Python 3.8), check formatting with black, run all tests, build documentation, publish in our rtd, pages

Only run 'pages' in our gitlab.com mirror.
  .gitlab-ci.yml
Due: check code smells (with Bugbear and Python 3.8), check formatting with black, run all tests, build documentation, publish in our rtd, pages

Don't run 'check build' in gitlab.com
  .gitlab-ci.yml
Due: check code smells (with Bugbear and Python 3.8), check formatting with black, run all tests, build documentation, publish in our rtd, pages

Tweak the 'interruptible' CI jobs.
  .gitlab-ci.yml
Due: check code smells (with Bugbear and Python 3.8), check formatting with black, run all tests, build documentation, publish in our rtd, pages

Split the tests of '@api.onupdate'.
  tests/test_xoeuf_api/tests/__init__.py
  tests/test_xoeuf_api/tests/test_api.py
  tests/test_xoeuf_api/tests/test_api_onupdate.py
Due: check code smells (with Bugbear and Python 3.8), check formatting with black, run all tests, build documentation, publish in our rtd, pages

WIP: Run local tests using docker.
  .dockerignore
  .gitignore
  Dockerfile
  MANIFEST.in
  Makefile
  README.rst
  docs/readme.txt
  docs/source/developing.rst
  pyproject.toml
  requirements-dev.lock
  runtests-odoo.sh
Due: check code smells (with Bugbear and Python 3.8), check formatting with black, run all tests, build documentation, publish in our rtd, pages

Update license file.
  docs/source/index.rst
  docs/source/license.rst
Due: build documentation, publish in our rtd, pages

Fix typos.
  tests/test_xoeuf_api/__init__.py
  tests/test_xoeuf_api/tests/test_api_onupdate.py
Due: check code smells (with Bugbear and Python 3.8), check formatting with black, run all tests, build documentation, publish in our rtd, pages

Move test API models to it's separate module.
  tests/test_xoeuf_api/__init__.py
  tests/test_xoeuf_api/models/__init__.py
  tests/test_xoeuf_api/models/basic.py
Due: check code smells (with Bugbear and Python 3.8), check formatting with black, run all tests, build documentation, publish in our rtd, pages

Run tests with all addons by default.
  runtests-odoo.sh
Due: none

Add missing link to Rye.
  docs/source/developing.rst
Due: build documentation, publish in our rtd, pages

Only run 'pages' in gitlab.com
  .gitlab-ci.yml
Due: check code smells (with Bugbear and Python 3.8), check formatting with black, run all tests, build documentation, publish in our rtd, pages

Version 3.0.2b1
  docs/source/history.rst
Due: build documentation, publish in our rtd, pages

Remove unneeded str.
  requirements-dev-py38.lock
  src/xoeuf/cli/__init__.py
Due: none

Recover module 'xoeuf.utils'
  src/xoeuf/utils.py
Due: none

Release 3.0.2
  docs/source/history.rst
Due: build documentation, publish in our rtd, pages

Fix ImportError from latest xotl.tools.
  src/xoeuf/osv/expression.py
  src/xoeuf/osv/ql.py
Due: none

Release 3.0.2.post1
  docs/source/history.rst
Due: build documentation, publish in our rtd, pages

Fix CI pipeline rules.
  .gitlab-ci.yml
Due: check code smells (with Bugbear and Python 3.8), check formatting with black, run all tests, build documentation, publish in our rtd, pages

Add 'USE_UV' option to `make install`.
  Makefile
  requirements-dev-py38.lock
Due: none

Fix more import errors.
  src/xoeuf/osv/orm.py
  src/xoeuf/osv/writers.py
Due: none

Add 'b7fcfb734e48d7673f6da886f3633799ad8835d5' to ignore revs.
  .git-blame-ignore-revs
Due: none

Update document development setup.
  docs/source/developing.rst
Due: build documentation, publish in our rtd, pages

Update 'make lint' and 'make format' to latest ruff.
  Makefile
Due: none

Rework CI interruptible flag.
  .gitlab-ci.yml
Due: check code smells (with Bugbear and Python 3.8), check formatting with black, run all tests, build documentation, publish in our rtd, pages

Remove unused imports.
  src/xoeuf/security.py
Due: none

Run tests also with non-forked Odoo.
  .gitlab-ci.yml
Due: check code smells (with Bugbear and Python 3.8), check formatting with black, run all tests, build documentation, publish in our rtd, pages

Update CI Postgres to version 16.
  .gitlab-ci.yml
Due: check code smells (with Bugbear and Python 3.8), check formatting with black, run all tests, build documentation, publish in our rtd, pages
